:root {
  background-color: #E4E4E4;
  --tile-width: 4em;
  --tile-between: 0.25em;
  --tile-height: calc(var(--tile-width) / sqrt(3));
  --tile-margin: calc(var(--tile-width) / 2);
  --tile-border: calc(var(--tile-margin) / sqrt(3));
  --tile-transition: all .2s ease;

  --color-tile-empty: #ABCDEF;
  --color-tile-default: #ABCDEF;
  --color-tile-ore: #887784;
  --color-tile-wheat: #FFCE39;
  --color-tile-wood: #2D4324;
  --color-tile-sheep: #8EBC47;
  --color-tile-brick: #CD7C35;
  --color-tile-desert: #D0AE6B;
  --color-tile-water: #07A7E2;
  --color-tile-port: #07A7E2;
  --color-tile-margin: #131E28;
  --color-tile-outer-margin: #EFD596;
  --color-tile-number: #DDBF78;
  --color-tile-number-black: #020201;
  --color-tile-number-red: #D3252B;
}

@media (max-width: 700px) {

  :root { 
    --tile-width: 2.7em; 
    --tile-between: 0.1em;
    --tile-height: calc(var(--tile-width) / sqrt(3));
    --tile-margin: calc(var(--tile-width) / 2);
    --tile-border: calc(var(--tile-margin) / sqrt(3)); 
  }

  .text-color-white {
    font-size: 1em;
    color: white;
  }
  
  .text-color-black {
    font-size: 1em;
    color: black;
  }

}

.tile-container {
  
  background-color: #E4E4E4;
  padding-bottom: calc(var(--tile-height) * 1.5);
}

.text-color-white {
  font-size: 2em;
  color: white;
}

.text-color-black {
  font-size: 2em;
  color: black;
}

.four-player-row-1 {
  display: grid;
  justify-content: center;
  grid-row: 1 / 7;
  grid-template-columns: var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width);
  grid-auto-rows: calc(var(--tile-width) - var(--tile-width) / 6.4);
  grid-gap: var(--tile-between) var(--tile-between);
  padding-bottom: var(--tile-between);
  padding-right: calc(((var(--tile-width) + var(--tile-between)) / 2) * 2); 
}

.four-player-row-2 {
  display: grid;
  justify-content: center;
  grid-row: 2 / 7;
  grid-template-columns: var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width);
  grid-auto-rows: calc(var(--tile-width) - var(--tile-width) / 6.4);
  grid-gap: var(--tile-between) var(--tile-between);
  padding-bottom: var(--tile-between);
  padding-right: calc(((var(--tile-width) + var(--tile-between)) / 2) * 2);
}

.four-player-row-3 {
  display: grid;
  justify-content: center;
  grid-row: 3 / 7;
  grid-template-columns: var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width);
  grid-auto-rows: calc(var(--tile-width) - var(--tile-width) / 6.4);
  grid-gap: var(--tile-between) var(--tile-between);
  padding-bottom: var(--tile-between);
  padding-right: calc(((var(--tile-width) + var(--tile-between)) / 2) * 2);
}

.four-player-row-4 {
  display: grid;
  justify-content: center;
  grid-row: 4 / 7;
  grid-template-columns: var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width);
  grid-auto-rows: calc(var(--tile-width) - var(--tile-width) / 6.4);
  grid-gap: var(--tile-between) var(--tile-between);
  padding-bottom: var(--tile-between);
  padding-right: calc(((var(--tile-width) + var(--tile-between)) / 2) * 2);
}

.four-player-row-5 {
  display: grid;
  justify-content: center;
  grid-row: 5 / 7;
  grid-template-columns: var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width);
  grid-auto-rows: calc(var(--tile-width) - var(--tile-width) / 6.4);
  grid-gap: var(--tile-between) var(--tile-between);
  padding-bottom: var(--tile-between);
  padding-right: calc(((var(--tile-width) + var(--tile-between)) / 2) * 2);
}

.four-player-row-6 {
  display: grid;
  justify-content: center;
  grid-row: 6 / 7;
  grid-template-columns: var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width);
  grid-auto-rows: calc(var(--tile-width) - var(--tile-width) / 6.4);
  grid-gap: var(--tile-between) var(--tile-between);
  padding-bottom: var(--tile-between);
  padding-right: calc(((var(--tile-width) + var(--tile-between)) / 2) * 2);
}

.four-player-row-7 {
  display: grid;
  justify-content: center;
  grid-row: 7 / 7;
  grid-template-columns: var(--tile-width) var(--tile-width) var(--tile-width) var(--tile-width);
  grid-auto-rows: calc(var(--tile-width) - var(--tile-width) / 6.4);
  grid-gap: var(--tile-between) var(--tile-between);
  padding-bottom: var(--tile-between);
  padding-right: calc(((var(--tile-width) + var(--tile-between)) / 2) * 2);
}

.tile {
    align-items: center;
    background-color: var(--color-tile-empty);
    cursor: pointer;
    display: flex;
    fill: #f7e0ad;
    height: var(--tile-height);
    justify-content: center;
    margin: var(--tile-border) 0;
    position: relative;
    transition: var(--tile-transition);
    width: var(--tile-width);
}

.tile::after,
.tile::before {
  border-left: var(--tile-margin) solid transparent;
  border-right: var(--tile-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--tile-transition);
  width: 0;
}

.tile::after {
  border-top: var(--tile-border) solid var(--color-tile-default);
  top: 100%;
  width: 0;
}
.tile::before {
  border-bottom: var(--tile-border) solid var(--color-tile-default);
  bottom: 100%;
}
 
.tile:nth-child(8n + 1),
.tile:nth-child(8n + 2),
.tile:nth-child(8n + 3),
.tile:nth-child(8n + 4),
.tile:nth-child(8n + 5),
.tile:nth-child(8n + 6),
.tile:nth-child(8n + 7) {
  margin-left: calc(var(--tile-width) / 2 + var(--tile-between) / 2);
}

.color-port {
    background-color: var(--color-tile-port);
    /* font-size: 2em; */
}

.color-port::after,
.color-port::before {
    border-top-color: var(--color-tile-port);
    border-bottom-color: var(--color-tile-port);
}

.color-water {
    background-color: var(--color-tile-water);
}

.color-water::after,
.color-water::before {
    border-top-color: var(--color-tile-water);
    border-bottom-color: var(--color-tile-water);
}

.color-wood {
    background-color: var(--color-tile-wood);
}

.color-wood::after,
.color-wood::before {
    border-top-color: var(--color-tile-wood);
    border-bottom-color: var(--color-tile-wood);
}

.color-wheat {
    background-color: var(--color-tile-wheat);
}

.color-wheat::after,
.color-wheat::before {
    border-top-color: var(--color-tile-wheat);
    border-bottom-color: var(--color-tile-wheat);
}

.color-ore {
    background-color: var(--color-tile-ore);
}

.color-ore::after,
.color-ore::before {
    border-top-color: var(--color-tile-ore);
    border-bottom-color: var(--color-tile-ore);
}

.color-brick {
    background-color: var(--color-tile-brick);
}

.color-brick::after,
.color-brick::before {
    border-top-color: var(--color-tile-brick);
    border-bottom-color: var(--color-tile-brick);
}

.color-sheep {
    background-color: var(--color-tile-sheep);
}

.color-sheep::after,
.color-sheep::before {
    border-top-color: var(--color-tile-sheep);
    border-bottom-color: var(--color-tile-sheep);
}

.color-desert {
    background-color: var(--color-tile-desert);
}

.color-desert::after,
.color-desert::before {
    border-top-color: var(--color-tile-desert);
    border-bottom-color: var(--color-tile-desert);
}

.App {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.Title {
  text-align: center;
}

.Board {
  text-align: center;
  justify-content: center;
}

.Generation {
  text-align: center;
}

.generate-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 2em;
  font-weight: 600;
  line-height: 40px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.generate-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.generate-button:hover {
  background-color: #2c974b;
}

.generate-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.generate-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.generate-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.Footer {
  text-align: center;
}