.App {
  display: grid;
  grid-template-rows: 10vw 70vw 10vw 10vw;
}

.Title {
  text-align: center;
}

.Board {
  text-align: center;
}

.Generation {
  text-align: center;
}

.Footer {
  text-align: center;
}